services:
  - type: web
    name: cse-motors
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000  # Render's default port
    autoDeploy: true