<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main class="detail-container">
  <div class="container">
    <%- vehicleHTML %>
  </div>
</main>

<%- include('../partials/footer') %>